@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

/* : usado para reconhecer um parametro */
html{
    overflow-y: scroll;
}
html, body{
    min-height: 100%;
    margin: 0; 
    padding: 0px;
}
*{
        font-family: 'Roboto', 'Signika Negative', sans-serif;
}
body{
    background: antiquewhite;
}
main h2 {
    color:rgb(0, 0, 0);
}
main h1{
    color:#00dcff91;
}
/*View Port (VW W= width e VH h=height*/
body.paginaNoticia{
    background: url(../img/1.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaNoticia .homeArticle img{
    width: 250px;
    height: 150;
}
body.paginaHome{
    background: url(../img/2.jpg) no-repeat center fixed;
    background-size: 100vw;    
}
body.paginaHome h1{
    color:red;
}
body .lente{
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.2;
	z-index: -1;
}
body.paginaCadastro{
    background: url(../img/3.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaContato{
    background: url(../img/4.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaServicos{
    background: url(../img/5.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaMidia{
    background: url(../img/6.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaEmpresa{
    background: url(../img/7.jpg) no-repeat center fixed;
    background-size: 100vw;
}
body.paginaContato video{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -2;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: #f37933;
}
body.paginaContato nav{
    background-color: #f37933;
}
body.paginaContato .lente{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: #fff;
    
}
body.paginaHome img.logoSite{
    width: 93px;
    height: 70px;
    padding-top: 0px;
    float: left;
}
.logoSite{
    width: 93px;
    height: 70px;
    padding-top: 0px;
    float: left;
}
body.paginaServicos table{
	width: 95%;
	margin: 0 auto;
	border: 4px solid #006e8b9e;
}
body.paginaServicos table td{
	background: #ffffff91;
	padding: 0px;
	border: 4px solid #006e8b9e;
}
body.paginaServicos table tr.titulo td{
	background: #1bb56e52!important;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
nav a{
    display: block;
	width: auto;	
	height: 56px;
	padding: 5px;
	float: left;
	line-height: 60px;
	color: white;
	text-decoration: none; 
    margin-left: 15px;
    font-family:'Signika Negative';
    font-weight: 800;
    font-size: 21px;
}
main{
    margin: 100px 0;
}
.homeArticle{
    width: 46%;
    background: rgb(231, 220, 220);
    margin: 100px 1%;  /* parametro (5px 0px) margem em cima e em baixo / direita e esquerda*/
    border-radius: 25px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 5);
    padding: 15px;
    display: inline-block;
    min-height: 200px;
    float: left;   
}
/* selecionando so um bloco de noticia */
.homeArticle.active{
    background:rgb(231, 220, 220);
    color: black;
    
}
.homeArticle img{
    float: left;
    height: 200px;
    margin-right: 10px ;
    border: 10px  black;
    border-radius: 15px;
    
}
.homeArticle h2{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.homeArticle p{
    font-size: italic;
    text-indent: 20px;
}
.homeArticle a{
    display: block;
    width:100px;
    position: relative;
    margin-right: 30%;
    float: right;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    color: rgb(226, 47, 47);
    background: rgb(23, 32, 46);
    border-radius: 5px;

}
.homeArticle a:hover{
    background: rgb(231, 245, 231);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 5);

}
.carousel{
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
    text-align: center;
    margin: 0;
}
.carousel li{
    width: 22%;
    margin: 0 1%;
    list-style: none;
    display: inline-block;
}
.carousel li img{
    width: 100%;
    height: 251px;
}
body.paginaHome img{
    padding-top: +100px;
    width: 300px;
    height: 200px;
}
body .paginaContato table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid orangered;
}
body .paginaContato table td {
    background: white;
    padding:4px;
    border: unset;
}
body .paginaContato table tr:nth-child(odd) td {
    background: #ccc;
}
body .paginaContato table tr.titulo td{
    background: black!important;
    color: #fff;
    text-align: center;
    font-size:  20px;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 40px;
    background: #f37933;
    bottom: 0;
    position: absolute;
    margin: auto 0;
    
}
footer span{
    display: inline-block; 
    width: 47%;
    color: black;
    padding: 10px;
}
footer .assinatura{
    text-align: right;
    padding-left: 25px;
}
footer .assinatura a{
    color: rgb(13, 241, 43);
    text-decoration: none;
    padding-left:5px;
}
form{
    width: 700px;
    min-height: 540px;
    margin: 0 auto;
}
.formGroup{
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom:  10px;
    margin-left: 2%;
}
.formGroup input,
.formGroup select,
.formGroup textarea{
    width: 100%;
    height: 45px;
    border: 1px solid orangered;
    text-indent:15px;
    border-radius:  5px;
    box-shadow: 0px 1px 3px 1px red;
}
.formGroup input:focus{
    border: unset;
}

.formGroup textarea{
    height: 200px;
}
.formGroup button{
    width: 120px;
    height: 45px;
    background: rgb(255, 255, 255);
    border: unset;
    color: black;
    box-shadow: 0px 1px 3px 1px rgb(19, 18, 18);
    font-size: 18px;
}
.formGroup button:hover{
    cursor: pointer;
    background: black;
}
.formGroup label{
    color: blue;
}
.formGroup.metade{
    width: 48%;
}
.formGroup.total{
    width: 98%;
}
body.paginaEmpresa .footer{
    position: relative;
}
body.paginaServicos .footer{
    position: relative;
}
body.paginaHome .footer{
    position: relative;
}
body.paginaNoticia .footer{
    position: relative;
}
body.paginaMidia .footer{
    position: relative;
}
body.paginaContato .footer{
    position: relative;
}
body.paginaCadastro .footer{
    position:relative;
}